* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --color-white: #ffffff;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(168.86deg, #c3d6fa 28.89%, var(--color-white));
}

.container {
    width: 100%;
    max-width: 360px;
    padding: 20px;
    text-align: left;
}

.icon-pass img {
    width: 120px;
    display: block;
    margin: 20px auto 28px;
}


h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.text {
    text-align: center;
    font-size: 14px;
    color: #444;
    margin-bottom: 6px;
}

.text.small {
    margin-bottom: 25px;
}

.label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    font-size: 15px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 18px;
}

.input {
    width: 100%;
    padding: 12px 14px;
    padding-right: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
}

.input:focus {
    border-color: #4a7dfc;
}

.icon {
    position: absolute;
    right: 14px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
    opacity: 0.7;
    
}

.btn {
    width: 100%;
    padding: 12px 14px;
    background: #3258DE;
    border: none;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #1547d6;
}
