* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji';
}

:root {
    --color-white: #ffffff;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(168.86deg, #ffffff);
}

.container {
    position: relative;
    width: 90%;
    max-width: 450px;
    text-align: center;
    padding: 40px 25px;
    min-height: 100dvh;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* margin: 20px auto; */
    background: linear-gradient(168.86deg, #ffffff);
    /* background: linear-gradient(168.86deg, #c3d6fa 65%, #ffffff 100%); */
    box-shadow: 0 10px 24px rgba(15, 23, 42, 0.15);
    border: 1px solid #e5e7eb; 
}

.icon-lock img {
    width: 120px;
    margin: 20px auto 30px;
    display: block;
    opacity: 0.9;
    /* margin-top: -10px; */
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.subtitle {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.4;
    margin-bottom: 25px;
}

.btn {
    width: 100%;
    padding: 12px 16px;
    background: #3258DE;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 8px 18px rgba(59,130,246,.35);
}

.btn:hover {
    background: #1646d0;
}

@media (max-width: 480px) {
.container {
  padding: 18px 18px;
  box-shadow: none;
  margin-top: 2em;
  border-radius: 0px;
  box-shadow: none;
  border: none;
}
}
