* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: #ffffff;
    padding: 20px;
  }

  .page {
  width: 100%;
  max-width: 430px;    /* ขนาดความกว้างมือถือ */
  margin: 0 auto;       /* จัดกึ่งกลางหน้าจอคอม */
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: stretch; /* ให้เนื้อหาขยายเต็มความกว้างภายใน */
  padding: 0;           /* เคลียร์ padding เพื่อให้เส้นคั่นชิดขอบ */
  background: #ffffff;
}
  
  
  /* Top bar */
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    /* height: 100px; */
    display: flex;
    align-items: center;

  }
  
  .close-btn {
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
  }

  .close-btn img {
    width: 27px;  /* ปรับค่านี้ให้เล็กลงตามต้องการ (เช่น 12px หรือ 14px) */
    height: auto;
    display: block;
    margin-top: -5px;  
  }
  
  /* Menu content */
  .menu-list {
    margin-top: 40px;
  }
  
  .item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    padding: 18px 0 8px;
  }
  
  .icon {
    width: 26px;
    height: auto;
  }
  
  hr {
    border: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    opacity: 0.7;
  }
  