:root{
    --bg-gradient-start:#DDE7FC;
    --bg-gradient-end:#9ABDF6;
    --text:#000000;
    --muted:#6b7280;
    --primary:#3258DE;
    --primary-600:#0051ff;
    --ring:#93c5fd;
    --surface:#ffffffaa;
    --white:#ffffff;
    --radius-xl:10px;
    --radius-lg:20px;
    --shadow-md:0 10px 24px rgba(15,23,42,.15);
    --shadow-sm:0 2px 8px rgba(15,23,42,.08);
  }

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff);
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

/* กรอบหน้า */
.page {
  width: 100%;
  max-width: 420px;
  padding: 24px 20px 32px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.12);
}

.card {
  position: relative; 
  width: 90%;         
  max-width: 450px;   
  margin: 20px auto;  
  padding: 40px 25px;
  background: #fff;
  border-radius: 16px;
  box-shadow: var(--shadow-md);
}

.top-bar {
  position: relative;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 14px;
}

.logo {
    width: 100px;
    /* height: 120px; */
    display: flex;
    padding: 3px;
}

.menu-btn {
  position: absolute;
  background: none;
  border: none;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  gap: 5px;                
  cursor: pointer;
  padding: 0;
  right: 0.05px;
}

.menu-btn span {
  display: block;
  width: 25px;
  height: 2.5px;             
  background: #000;
  border-radius: 2px;      
  transition: 0.3s;        
}

.search-container {
  display: flex;
  align-items: center;
  gap: 12px; 
  width: 100%;
}

/* กล่องค้นหา */
.search-box, 
.calendar-trigger {
    height: 48px;        
    display: flex;
    align-items: center;
    box-sizing: border-box; 
    align-items: center;    
    justify-content: center; 
}

.search-box {
    flex: 1;           
    background: #fff;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    overflow: hidden;    
}

.search-input {
  flex: 1;
  padding: 12px 18px;
  border: #6b6965;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.search-btn {
  width: 55px;
  height: 55px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f60d8;
}

.search-btn .icon {
  width: 27px; 
  height: 27px;  
}

.calendar-trigger {
  width: 30px;
  height: 30px;
  padding: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.calendar-trigger:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: 0.2s;
    transform: translateY(-1px);
}

.flatpickr-calendar {
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border: none;
    border-radius: 15px;
    background-color: #ffffff !important;
    /* justify-content: center; */
    z-index: 9999;
    right: 100%;

    left: auto !important; 
    right: 0 !important; 
    transform: translateX(0);

}

.flatpickr-monthSelect-month.selected {
    background: #1a73e8 !important;
    color: #fff;
}

.flatpickr-monthSelect-month.today {
    border: none !important; 
    box-shadow: none !important; 
}

.flatpickr-monthSelect-month.today {
    font-weight: bold;
    color: #000000; 
    background-color: #ffffff;
}

.table-card table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif; 
    /* overflow: hidden;
    border-radius: 14px; */
}

/* ตั้งค่าหัวตาราง (Th) */
.table-card th {
    font-weight: 500;       
    color: #000000;
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
    border-bottom: 2px solid #f0f0f0;
    background-color: #94b8f9;
    text-align: center;
}

.table-card td {
    font-weight: 400;      
    color: #000000;
    padding: 12px 15px;
    font-size: 14px;
    vertical-align: middle;
    border-bottom: 1.5px solid #eae2e2 !important;
}

.table-card tbody tr:hover {
    background-color: #e7eaf1; 
    transition: 0.2s;
}

.table-card {
    background: #ffffff;
    border-radius: 15px;    
    border: 1px solid #d0d1d5;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin-top: 10px;

}

.table-info-note {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;           
    color: #888;               
    margin: 18px 0px 0px 5px;    
    font-style: italic;        
    text-align: left;          
}

.btn-predict-action {
    background-color: #f8f9fa; 
    border: 1.5px dashed #6c757d; 
    color: #495057;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-block;
    line-height: 1.4;
}


.btn-predict-action:hover {
    background-color: #e9ecef;
    border-color: #007bff; 
    color: #007bff;
    transform: translateY(-1px); 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.badge {
    padding: 8px 16px;
    border: 1.5px dashed #6c757d;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 150;
    color: white;
}
.status-confirmed-pe { background-color: #ed5555; } 
.status-confirmed-none { background-color: #2ecc71; }

.modal-overlay {
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5); backdrop-filter: blur(4px); z-index: 9999;
    justify-content: center; align-items: center;
}
.modal-box {
    background: white; width: 90%; max-width: 380px; border-radius: 16px;
    padding: 24px; text-align: center; box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.confirm-options { display: flex; gap: 12px; margin: 20px 0; }
.opt-pe { flex: 1; padding: 12px; border-radius: 8px; border: 2px solid #ff4d4d; color: #ff4d4d; background: #fff5f5; cursor: pointer; font-weight: bold; }
.opt-pe:hover { background: #ff4d4d; color: white; }
.opt-no { flex: 1; padding: 12px; border-radius: 8px; border: 2px solid #52c41a; color: #52c41a; background: #f6ffed; cursor: pointer; font-weight: bold; }
.opt-no:hover { background: #52c41a; color: white; }
.btn-close-modal { background: none; border: none; color: #999; text-decoration: underline; cursor: pointer; }


@media (max-width: 480px) {
      body {
        padding: 0;
      }
      .app {
        border-radius: 0;
        box-shadow: none;
      }
    }