* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-white: #ffffff;
    --card-bg: #dfe9ff;
}

body {
    height: 100vh;
    background: linear-gradient(168.86deg, #c3d6fa 28.89%, var(--color-white));
    padding: 18px 20px;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

/* Hamburger Menu */
.menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.menu div {
    width: 28px;
    height: 3px;
    background: #000;
    border-radius: 4px;
}

/* Card */
.card {
    background: var(--card-bg);
    width: 100%;
    height: 150vh;
    margin: 30px auto 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
    text-align: center;
}

.card h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.card p1 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.card p{
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}

.card ul {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}

/* Button */
.btn {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 12px;
    background: #3258de;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #1547d6;
}
